<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sams Users</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Startsidan</h1>
    <div>
        <p>Här kan du välja vad du vill göra:</p>
    </div>
    <a href="user"><button id="showUserBtn">Visa medlemmar</button><br></a>
    <a href="login"><button id="loginBtn">Login</button><br></a>
</body>
</html>