<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sams Users</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Alla medlemmar:</h1>
    <div>
        <p>Här kan du också välja vad du vill göra:</p>
    </div>
        <a href="/"><button id="backToStartBtn">Tillbaka till Startsidan</button></a><br>
        <a href="newmember"><button id="addUserBtn">Lägg till ny medlem</button></a>
    <ul>
        <li th:each="user : ${users}" >
            <a th:href="@{/user/{userName}(userName=${user.fname},${user.lname})}">
                <span th:text="${user.fname}"></span>
            </a>
        </li>
    </ul>
</body>
</html>